<section class="jumbotron text-center bg-white">
  <div class="container">
    <h2 class="mark">My不要行動  変更</h2>

    <p>ログインしたユーザが、通勤、朝の準備、付き合いで行く飲み会など、"在宅ワークによって行われなくなった行動"と、"デフォルトでかかる時間"を登録できる。</p>
    <%= form_with(model: @undone, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
            <%= f.label :action_name, "不要行動の名前" %><br />
            <%= f.text_field :action_name, autofocus: true, class: 'w-50' %>
        </div>

        <div class="form-group">
            <%= f.label :default_time, "平均時間" %><br />
            <%= f.number_field :default_time, autofocus: true, class: 'w-50' %>
        </div>

        <div class="actions">
            <%= f.submit "変更する", class: "btn-primary" %>
        </div>
        <% end %>
        <br>
        <div class="border-top">
            <%= link_to undone_action_path, method: :delete, data: { confirm: "本当に削除しますか?" },
        class: 'btn btn-danger mt-3 float-right' do %>
        <i class="fas fa-trash-alt"></i>  My不要行動を削除する
        <% end %>
        </div>
    </p>
  </div>
</section>
