<!DOCTYPE html>
<html>
  <head>
    <title>在宅貯金App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= render 'layouts/header' %>
    <body>
    <%= render 'layouts/flashes' %>
      <div class="jumbotron text-center">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </body>
    <%= render 'layouts/footer' %>
</html>
