<!DOCTYPE html>
<html>
  <head>
    <title>在宅貯金App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flashes' %>
    <body>
      <div class="jumbotron text-center">
        <div class="container">
          <%= yield %>
        </div>
</div>
    </body>
    <%= render 'layouts/footer' %>
</html>
